<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <input type="text" formControlName="id" >
  <input type="text" formControlName="title">
  <input type="text" formControlName="description">
  <input type="text" formControlName="image">

  <!--<button type="submit" [disabled]="form.invalid">save</button>-->
  <button type="submit">save</button>

  <div [hidden]="!form.hasError('required', ['id']) || !form.get('id').touched">ID?</div>
  <div [hidden]="!form.hasError('required', ['title']) || !form.get('title').touched">TITLE?</div>

</form>